.flex-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;



  background-color: rgba(0,0,0,0.1);
}

.flex-item{
  
  height: 50px;
  text-align: center;
  background-color:silver;
}

.item-1{
  height: 30px;
}
.item-2{
  align-self: flex-start;
  height: 20px;
}
.item-3{
  
  height: 60px;
  background-color: blue;
}
